# Exercise 5
Author: Elias Djupesland

In [30]:
import pandas as pd
import numpy as np

In [31]:
# Down the rabbit hole on Prosecco

read_df = pd.read_csv('winemag-data-130k-v2.csv')
df = read_df[read_df['variety']=="Prosecco"].reset_index()

good_prosecco = df[df['points'] > 89][['title','price','points']].sort_values(by='price', ascending=False)
bad_prosecco = df[df['points'] < 85][['title','price','points']].sort_values(by='price', ascending=False)

good_prosecco['length'] = good_prosecco['title'].str.len()
bad_prosecco['length'] = bad_prosecco['title'].str.len()

print("Average good prosecco title length: " + str (good_prosecco['length'].mean()))
print("Average bad prosecco title length: " + str (bad_prosecco['length'].mean()))

Average good prosecco title length: 57.588235294117645
Average bad prosecco title length: 53.73913043478261

In [32]:
# The ramen king
read_df = pd.read_csv('ramen-ratings.csv')
read_df.loc[read_df['Stars'] == 'Unrated'] = np.nan
read_df['Stars'] = read_df['Stars'].astype(float)


df = read_df.groupby('Country')
q10 = df['Stars'].quantile(q=0.1).values
q90 = df['Stars'].quantile(q=0.9).values
mean = df.Stars.mean().values
d = {"Country": df.Stars.mean().index.values,
     "Mean":mean,
     "q10":q10,
     "q90":q90
     }
result = pd.DataFrame(data=d)
print(result)

          Country      Mean    q10    q90
0       Australia  3.138636  2.025  4.000
1      Bangladesh  3.714286  3.250  4.000
2          Brazil  4.350000  4.000  4.800
3        Cambodia  4.200000  3.500  5.000
4          Canada  2.243902  0.250  3.500
5           China  3.421893  1.750  4.500
6        Colombia  3.291667  2.875  3.625
7           Dubai  3.583333  3.350  3.750
8         Estonia  3.500000  3.300  3.700
9            Fiji  3.875000  3.475  4.175
10        Finland  3.583333  3.500  3.700
11        Germany  3.638889  3.000  4.350
12          Ghana  3.500000  3.500  3.500
13        Holland  3.562500  3.500  3.675
14      Hong Kong  3.801825  2.750  5.000
15        Hungary  3.611111  2.950  4.150
16          India  3.395161  2.000  4.250
17      Indonesia  4.067460  3.250  5.000
18          Japan  3.981605  3.000  5.000
19       Malaysia  4.154194  3.250  5.000
20         Mexico  3.730000  3.000  4.000
21        Myanmar  3.946429  2.975  5.000
22          Nepal  3.553571  3.325  4.175
23    Netherlands  2.483333  0.500  3.500
24        Nigeria  1.500000  1.500  1.500
25       Pakistan  3.000000  2.400  3.600
26    Philippines  3.329787  1.900  4.500
27         Poland  3.625000  3.250  4.000
28        Sarawak  4.333333  4.000  4.800
29      Singapore  4.126147  3.200  5.000
30    South Korea  3.790554  2.750  5.000
31         Sweden  3.250000  3.050  3.450
32         Taiwan  3.665402  2.000  5.000
33       Thailand  3.384817  2.000  4.750
34             UK  2.997101  1.500  4.050
35            USA  3.457043  2.000  4.750
36  United States  3.750000  3.750  3.750
37        Vietnam  3.187963  2.000  4.000

In [33]:
# Almost complete this
df = read_df.groupby(['Country', 'Style']).Style.agg(['count'])

In [35]:
# Restaurants

order_df = pd.read_csv('orders.csv')
customers_df = pd.read_csv('customers.csv')

resultdf = order_df.merge(customers_df,left_on="customer_id",right_on="akeed_customer_id")
item_gender = resultdf[["item_count","gender"]]

print(item_gender)

male = item_gender[item_gender["gender"] == "Male"]
male_mean = male["item_count"].mean()
female = item_gender[item_gender["gender"] == "Female"]
female_mean = female["item_count"].mean()

result = { "Gender" : ["female", "male"],
           "item_count" : [female_mean, male_mean]
}

result_df = pd.DataFrame(data=result)

print(result_df)

/home/elias/miniconda3/envs/pythonProject/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (15,16,18,19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

        item_count gender
0              1.0   Male
1              1.0   Male
2              1.0   Male
3              2.0   Male
4              1.0    NaN
...            ...    ...
132221         1.0    NaN
132222         1.0    NaN
132223         2.0    NaN
132224         3.0    NaN
132225         1.0   Male

[132226 rows x 2 columns]
   Gender  item_count
0  female    2.381291
1    male    2.423206

In [63]:
df = pd.read_csv('billboard.csv')

vars = ["year","artist.inverted","track","time","genre","date.entered","date.peaked"]

df = pd.melt(frame=df,id_vars=vars, var_name="week", value_name="rank")
df["week"] = df['week'].str.extract('(\d+)', expand=False).astype(int)
df = df.dropna()

print(df)

tracks = df.groupby(["artist.inverted","track"]).mean()

print(tracks.sort_values("rank").head(10))

       year      artist.inverted                                  track  time  \
0      2000      Destiny's Child               Independent Women Part I  3:38
1      2000              Santana                           Maria, Maria  4:18
2      2000        Savage Garden                     I Knew I Loved You  4:07
3      2000              Madonna                                  Music  3:45
4      2000  Aguilera, Christina  Come On Over Baby (All I Want Is You)  3:38
...     ...                  ...                                    ...   ...
19663  2000             Lonestar                                 Amazed  4:25
19700  2000                Creed                                 Higher  5:16
19980  2000             Lonestar                                 Amazed  4:25
20017  2000                Creed                                 Higher  5:16
20334  2000                Creed                                 Higher  5:16

         genre date.entered date.peaked  week  rank
0         Rock   2000-09-23  2000-11-18     1  78.0
1         Rock   2000-02-12  2000-04-08     1  15.0
2         Rock   1999-10-23  2000-01-29     1  71.0
3         Rock   2000-08-12  2000-09-16     1  41.0
4         Rock   2000-08-05  2000-10-14     1  57.0
...        ...          ...         ...   ...   ...
19663  Country   1999-06-05  2000-03-04    63  45.0
19700     Rock   1999-09-11  2000-07-22    63  50.0
19980  Country   1999-06-05  2000-03-04    64  50.0
20017     Rock   1999-09-11  2000-07-22    64  50.0
20334     Rock   1999-09-11  2000-07-22    65  49.0

[5307 rows x 9 columns]
                                                         year  week       rank
artist.inverted              track
Santana                      Maria, Maria              2000.0  13.5  10.500000
Madonna                      Music                     2000.0  12.5  13.458333
N'Sync                       Bye Bye Bye               2000.0  12.0  14.260870
Elliott, Missy "Misdemeanor" Hot Boyz                  2000.0  11.0  14.333333
Destiny's Child              Independent Women Part I  2000.0  14.5  14.821429
Iglesias, Enrique            Be With You               2000.0  10.5  15.850000
Aaliyah                      Try Again                 2000.0  16.5  16.656250
Savage Garden                I Knew I Loved You        2000.0  17.0  17.363636
Houston, Whitney             My Love Is Your Love      2000.0  14.5  17.857143
Pink                         There U Go                2000.0  16.5  18.625000